* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .aboutus,
  .campaigns,
  .sign-up {
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .aboutus {
    background-image: url('./components/assets/images/img-3.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  .campaigns {
    background-image: url('./components/assets/images/img-5.jpg');
    background-position: center;
    background-size: fill;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  }
  
  /* .sign-up {
    background-image: url('./components/');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 100px;
  } */

